<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}  
{{- partial "header.html" . -}}
<body>
    <div id="content">
    {{- partial "nav.html" . -}}
    {{- block "main" . -}}
    {{ end }}
    </div>
</body>
	{{- partial "footer.html" . -}}
</html>