{{define "main"}}

<section id="fh5co-home" data-section="home" style="background-image: url({{.Site.BaseURL}}images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
      <div class="text-wrap">
        <div class="text-inner">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="to-animate">FREE SOFTWARE COMMUNITY OF INDIA</h1>
              {{ if eq .Section "statements"}}
              <h2 class="text-center">Official Statements</h2>
              {{else}}
              <h2 class="text-center">{{.Title}}</h2>
              {{end}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slant"></div>
  </section>

<section class="container">
    <h1 class="mt-5">{{.Title}}</h1>
    <span><b>Published on </b>{{ .PublishDate.Format "January 2, 2006" }} | <b>Reading Time:</b> {{.ReadingTime}} min</span>
    <hr>
    {{.Content }}
</section>
{{end}}