
    <footer id="footer" role="contentinfo">
        <a href="#" class="gotop js-gotop" title="Go to top"><i class="icon-arrow-up"></i></a>
        <div class="container">
          <div class="">
            <div class="col-md-12 text-center">
              <p>Copyheart ❤ All wrongs reversed. <a href="https://gitlab.com/fsci/fsci.gitlab.io">Improve this site</a>. Forked from <a href="https://github.com/fosslk/website">foss.lk</a>.<br></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <div id='joinus'>Join us on</div>
              <ul class="social social-circle">
                <li><a href="https://codema.in/free-software-community-of-india-fsci/" target="_blank"><img src="{{.Site.BaseURL}}images/social/loomio.png"></a>Loomio</li>
                <li><a href="https://chat.poddery.com/#/room/#fsci:poddery.com" target="_blank"><img src="{{.Site.BaseURL}}images/social/riot.png"></a>Riot</li>
                <li><a href="https://diasp.in/u/poddery" target="_blank"><img src="{{.Site.BaseURL}}images/social/diaspora.png"></a>Diaspora</li>
                <li><a href="https://lists.fsci.in/postorius/lists/fsci-discuss.lists.fsci.org.in/" target="_blank"><img width=42px src="{{.Site.BaseURL}}images/social/mail.png"></a>List</li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
  
      <!-- jQuery -->
      <script src="{{.Site.BaseURL}}js/jquery.min.js"></script>
      <!-- jQuery Easing -->
      <script src="{{.Site.BaseURL}}js/jquery.easing.1.3.js"></script>
      <!-- Bootstrap -->
      <script src="{{.Site.BaseURL}}js/bootstrap.min.js"></script>
      <!-- Waypoints -->
      <script src="{{.Site.BaseURL}}js/jquery.waypoints.min.js"></script>
      <!-- Stellar Parallax -->
      <script src="{{.Site.BaseURL}}js/jquery.stellar.min.js"></script>
  
      <!-- Main JS (Do not remove) -->
      <script src="{{.Site.BaseURL}}js/main.js"></script>