<header role="banner" id="fh5co-header">
    <div class="container">
      <!-- <div class="row"> -->
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <!--Mobile Toggle Menu Button
               <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
          -->
          <a class="navbar-brand" href="{{.Site.BaseURL}}index.html"><img class="logo" src="{{.Site.BaseURL}}images/logo.png"></a>
        </div>

        <!--
             <div id="navbar" class="navbar-collapse collapse">
             <ul class="nav navbar-nav navbar-right">
             <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
             <li><a href="#"><span>Services</span></a></li>
             <li><a href="#"><span>Contact</span></a></li>
             </ul>
             </div>
        -->
      </nav>
      <!-- </div> -->
    </div>
  </header>