<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> 
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FSCI | Free Software Community of India</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free & Open Source Software Community - India">
    <meta name="keywords" content="FSCI, Free Software Community of India ">
    <meta name="author" content="FSCI">
    {{ hugo.Generator }}

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="{{.Site.BaseURL}}favicon.ico">

    <link href='https://tools-static.wmflabs.org/fontcdn/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/animate.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/simple-line-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/bootstrap.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/style.css">

    <!-- Modernizr JS -->
    <script src="{{.Site.BaseURL}}js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
      <script src="{{.Site.BaseURL}}js/respond.min.js"></script>
    <![endif]-->
  </head>