{{ define "main"}}
    <section id="fh5co-home" data-section="home" style="background-image: url(images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
      <div class="gradient"></div>
      <div class="container">
        <div class="text-wrap">
          <div class="text-inner">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h1 class="to-animate">FREE SOFTWARE COMMUNITY OF INDIA</h1>
                <ul class="to-animate">
                  <li>Free Software Community of India is a collective of Free Software (sometimes also called as Open Source Software) users, advocates and developers.</li>
                  <li>We maintain communication and collaboration infrastructure for everyone that respects their freedom and privacy.</li>
                  <li>We depend on donations and community manpower to run the infrastructure.</li>
                  <li>We maintain a list of Free Software communities and offer sub domains of fsug.in or fosscommunity.in</li>
                  <li>We mentor Free Software enthusiasts to become Free Software contributors.</li>
                  <li>We provide GNU/Linux installation and configuration support via online messaging groups.</li>
                </ul>
                <br>
                <div class="text-center">
                  <a href="#joinus">
                    <button class="text-center btn btn-success">Join us !</button>
                </a>
                </div>
                <div class="well well-lg statements">
                  <p>Read our <b>official statement</b> on the privacy related issues regarding<br><em>Sprinklr</em> controversy in Kerala <a href="{{.Site.BaseURL}}statements/sprinklr-controversy-kerala-response/">here.</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slant"></div>
    </section>

    <section id="fh5co-intro">
      <div class="container">
        <div class="row row-bottom-padded-lg">
          <div class="fh5co-block to-animate" style="background-image: url(images/img_7.jpg);">
            <div class="overlay-darker"></div>
            <div class="overlay"></div>
            <div class="fh5co-text">
              <i class="fh5co-intro-icon icon-location-pin dark"></i>
              <h2>Free Software User Groups</h2>
              <p>FSCI maintains a list of various Free Software User Groups across India at <a href="https://fsug.in" target="_blank">fsug.in</a>. FSCI also provides free sub-domains for such communities.</p>
              <p><a href="https://fsug.in" class="btn btn-primary" target="_blank">fsug.in</a></p>
            </div>
          </div>

          <div class="fh5co-block to-animate" style="background-image: url(images/img_10.jpg);">
            <div class="overlay-darker"></div>
            <div class="overlay"></div>
            <div class="fh5co-text">
              <i class="fh5co-intro-icon icon-note dark"></i>
              <h2>FSCI Wiki</h2>
              <p>FSCI maintains a <a href="https://www.mediawiki.org/wiki/MediaWiki" target="_blank">MediaWiki</a> instance at <a href="https://wiki.fsci.org.in">wiki.fsci.org.in</a> which acts as a 'decentralised central resource' as every one gets to fill in their parts and one could find all parts in one place.</p>
              <p><a href="https://wiki.fsci.org.in" class="btn btn-primary" target="_blank">wiki.fsci.org.in</a></p>
            </div>
          </div>

          <div class="fh5co-block to-animate" style="background-image: url(images/img_10.jpg);">
            <div class="overlay-darker"></div>
            <div class="overlay"></div>
            <div class="fh5co-text">
              <i class="fh5co-intro-icon icon-star dark"></i>
              <h2>Git Repository Hosting</h2>
              <p>FSCI runs a free instance of <a href="https://gitlab.com" target="_blank">GitLab</a> Community Edition at <a href="https://git.fosscommunity.in">git.fosscommunity.in</a>. GitLab is a powerful platform for collaborative software development.</p>
              <p><a href="https://git.fosscommunity.in" class="btn btn-primary" target="_blank">git.fosscommunity.in</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="fh5co-services" data-section="plan">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-heading text-left">
            <h2 class=" left-border to-animate">Poddery</h2>
            <div class="row">
              <div class="col-md-4 subtext to-animate">
                <div style="width:300px;"><img src="images/services/poddery.png" alt="foss" class="img-responsive poddery-logo"></div>
              </div>
              <div style="text-align:justify;" class="col-md-8 subtext to-animate">
                <br><h3>Poddery, one of the earliest diaspora social networking hosts, is a community-run distributed social-network maintained by FSCI. Apart from Diaspora, <a href="https://poddery.com" target="_blank">poddery.com</a> also offers Matrix and XMPP services.</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 fh5co-service to-animate">
            <img src="images/services/diaspora.png" class="icon">
            <h3>Diaspora</h3>
            <p><a href="https://disaporafoundation.org">Diaspora</a> is a culture. A culture against the loss of personal privacy by the corporate social network giants. Diaspora enables you to keep your data with you and provides the flexibility to choose what you share. Since your data is stored on distributed servers and not a single company's servers you are in more control of your data.</p>
            <p><a href="https://poddery.com" class="btn btn-success" target="_blank">poddery.com</a></p>
          </div>

          <div class="col-md-4 fh5co-service to-animate">
            <img src="images/services/matrix.png" class="icon">
            <h3>Matrix</h3>
            <p><a href="https://matrix.org" target="_blank">Matrix</a> is a decentralised instant messenger which supports end-to-end encryption and file sharing. You can connect with your friends and communities here. Matrix by default allows you to integrate with IRC and other communication medias. You can use Riot-web at chat.poddery.com with slack-like interface and markdown support.</p>
            <p><a href="https://matrix.org/docs/projects/try-matrix-now/" class="btn btn-success" target="_blank">Get a Matrix Client</a></p>
          </div>

          <div class="col-md-4 fh5co-service to-animate">
            <img src="images/services/xmpp.png" class="icon">
            <h3>XMPP</h3>
            <p>Poddery supports chatting among your contacts in Diaspora and anybody with an account on a service supporting <a href="https://xmpp.org" target="_blank">XMPP</a>. You need to enable chat on your Poddery account to make use of it. There are many free clients available for PC, tablet or mobile devices. Get one for your device from the link below.<br><br></p>
            <p><a href="https://xmpp.org/software/clients.html" class="btn btn-success" target="_blank">Get an XMPP Client</a></p>
          </div>
        </div>
      </div>
    </section>
    <section id="fh5co-intro">
      <div class="container">
        <div class="row row-bottom-padded-lg">

          <div class="fh5co-block to-animate" style="background-image: url(images/img_7.jpg);">
            <div class="overlay-darker"></div>
            <div class="overlay"></div>
            <div class="fh5co-text">
              <i class="fh5co-intro-icon icon-envelope"></i>
              <h2>Mailing List</h2>
              <p>FSCI maintains a <a href="https://www.gnu.org/software/mailman/" target="_blank">GNU Mailman</a> instance at <a href="https://lists.fsci.in" target="_blank">lists.fsci.in</a>. A mailing list helps us to broadcast emails to a list of e-mail addresses of people that are members of the same work group or interested in the same subject.<br><br></p>
              <p><a href="https://lists.fsci.in" class="btn btn-primary" target="_blank">lists.fsci.org.in</a></p>
            </div>
          </div>

          <div class="fh5co-block to-animate" style="background-image: url(images/img_10.jpg);">
            <div class="overlay-darker"></div>
            <div class="overlay"></div>
            <div class="fh5co-text">
              <i class="fh5co-intro-icon icon-bulb"></i>
              <h2>Discussion Forum</h2>
              <p>A community-run <a href="https://www.discourse.org/" target="_blank">Discourse</a> instance is maintained at <a href="https://forum.indiaos.in" target="_blank">forum.indiaos.in</a> in collaboration with FSCI. It is a place for Free Software enthusiasts and users to hangout, discuss, share tips and tricks, help others and promote the adoption of Free Software.</p>
              <p><a href="https://forum.indiaos.in" class="btn btn-primary" target="_blank">forum.indiaos.in</a></p>
            </div>
          </div>

          <div class="fh5co-block to-animate" style="background-image: url(images/img_10.jpg);">
            <div class="overlay-darker"></div>
            <div class="overlay"></div>
            <div class="fh5co-text">
              <i class="fh5co-intro-icon icon-pie-chart"></i>
              <h2>Collaborative Decision Making</h2>
              <p>Codema (<span class="codema">Co</span>llaborative <span class="codema">De</span>cision <span class="codema">Ma</span>king) is a <a href="https://www.loomio.org" target="_blank">Loomio</a> instance maintained by FSCI at <a href="https://codema.in" target="_blank">codema.in</a>. It helps us to initiate discussions and put up proposals on which users can vote.<br><br><br></p>
              <p><a href="https://codema.in" class="btn btn-primary" target="_blank">codema.in</a></p>
            </div>
          </div>

          <div class="fh5co-block to-animate" style="background-image: url(images/img_10.jpg);">
            <div class="overlay-darker"></div>
            <div class="overlay"></div>
            <div class="fh5co-text">
              <i class="fh5co-intro-icon icon-earphones-alt"></i>
              <h2>Group Voice/Video Meeting</h2>
              <p>Jitsi Meet is Free & Open source voice & video conferencing tool. <a href="https://jitsi.org/jitsi-meet/" target="_blank">Jitsi Meet</a> instance is maintained by FSCI at <a href="https://meet.fsci.in" target="_blank">meet.fsci.in</a>. It helps us to communicate securely.</p>
              <h3><span class="label label-danger"><i class="icon-exclamation"></i> Warning</span></h3>
              <p>This service is still in beta testing. To use this service please contact the FSCI team.</p>
              <p><a href="https://meet.fsci.in" class="btn btn-primary" target="_blank">meet.fsci.in</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
{{end}}
